/* //// ROOT VARIABLES  */
:root {
  --bg-color: #EEF0F4;
  --bg-dark: #AC485A;
  --color-white: #FDFDFD;
  --font-family: 'Rubik', sans-serif;
}

/* //// GLOBAL | site-wide */
/* resetting CSS margin: remove default margin on text tags */
* {
  margin: 0;
}

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove built-in form typography
margin: remove default margin on text tags
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  padding: 0;
}

/* //// LOADER  */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loader-wrapper {
  background-color: var(--bg-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid var(--color-white);
  border-bottom-color: transparent;
  border-radius: 50%;
  margin-top: calc(50vh - 20px);
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

/* //// MAIN  */